.converter-container {
  background-color: #424242;
  background-image: linear-gradient(to bottom right, #424242, #1a1a1a);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  min-height: 100vh;

  .converter {
    display: flex;
    flex: 1;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__rates,
    &__convert {
      width: 50%;
      background-color: #444;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .converter {
      flex-direction: column;

      &__rates, &__convert, &__list {
        width: 90%;
      }
    }
    .converter__list {
      grid-template-columns: 1fr;
    }
  }
}
